<html>
<head>
	<title>文章列表</title>
	<meta charset='utf-8'/>
	<hdjs/>
</head>
<body>
<div class="menu_list">
	<ul>
		 <li><a href="{|U:'index'}"  class="action"> 文章列表 </a></li>
		 <li><a href="{|U:'add'}"> 添加文章 </a></li>
	</ul>
</div>
<div>
	<table class='table2'>
		<thead>
			<tr>
				<th class='w50'>CID</th>
				<th>栏目名称</th>
				<th>作者</th>
				<th>点击次数</th>
				<th class='w150'>操作</th>
			</tr>
		</thead>
		<list from='$article' name="c">
		<tr>
				<td>{$c.id}</td>
				<td>{$c.title}</td>
				<td>{$c.author}</td>
				<td>{$c.click}</td>
				<td>
					<a href="{|U:'add',array('pid'=>$c['id'])}">查看</a> |
					<a href="{|U:'edit',array('cid'=>$c['id'])}">编辑</a> |
					<a href="javascript:hd_ajax('{|U:del}',{cid:{$c.id}});">删除</a>
				</td>
			</tr>
		</list>
	</table>
</div>
</body>
</html>